@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ASPNetCore_MongoIdentity.Models
@model ASPNetCore_MongoIdentity.Pages.RegistrationPageModel

    <table class="table">
        <tr><td>Id</td><td>UserName</td></tr>
        @if (Model != null)
        {
            @foreach (ApplicationUser user in Model.DisplayUsers)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td>Model is null</td>
                <td>Model is null</td>
            </tr>
        }
    </table>