@page
@model ASPNetCore_MongoIdentity.Pages.RegistrationPageModel
@{
    ViewData["Title"] = "RegistrationPage";
}

<style>
    .redtext {
        color: red;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Registration Page</h1>
    <p></p>
    @if (Model.ErrorFlag == true)
    {
        <p class="redtext">Error Log In</p>
        Model.ErrorFlag = false;
    }
    else
    {
        <p></p>
    }
    <form method="POST">
        <input type="text" name="UserName" placeholder="UserName" /></br>
        <input type="text" name="Password" placeholder="Password" /></br>
        <input type="text" name="ConfirmedPassword" placeholder="Confirm Password" /></br>
        <input type="submit" asp-page-handler="RegisterNewUser" value="Register" />
    </form>
</div>
<p></p>

<h2>Ajax</h2>
<p><button class="btn btn-primary" id="load">Load</button></p>
<div id="grid"></div>
@section scripts{
    <script>
        $(document).ready(
            function () {
                fill_table();
            }
        );
        function fill_table() {
            $('#grid').load('?handler=UserListPartial');
            doStuff();
        }

        function doStuff() {
            setTimeout(fill_table, 5000);
        }

    </script>
}




