@page
@model ASPNetCore_MongoIdentity.Pages.UserHomePageModel
@{
    ViewData["Title"] = "UserHomePage";
}

<h1>UserHomePage</h1>

@if (Model.IsAdmin == true)
{
    <p>@Model.PageUser.UserName  is a Admin</p>
}
else
{
    <p>@Model.PageUser.UserName  is a Member</p>
}

